%header.single-header-two
  .header-min
    %h1
      %a{href: ""}
        %img{src: "//www-mercari-jp.akamaized.net/assets/img/common/common/logo.svg?1144760951"}/
    %nav
      %ol.clearfix
        %li.procedure_one
          会員情報
          %br/
          .progress-status
        %li.procedure_two
          電話番号認証
          %br/
          .progress-status
        %li.procedure_three
          お届け先住所
          %br/
          .progress-status
        %li.procedure_four
          支払い方法
          %br/
          .progress-status
        %li.procedure_five
          完了
          %br/
          .progress-status
%main.page-two
  %h2 電話番号の確認
  %form
    -# %input{name: "", type: "hidden", value: ""}/
    .contents
      .form-content
        %label.label-default{for: "phone_number"} 携帯電話の番号
        %input.input-default{name: "phone_number", placeholder: "携帯電話の番号を入力", type: "tel", value: ""}/
      %p 本人確認のため、携帯電話のSMS(ショートメッセージサービス)を利用して認証を行います。
      %button{type: "submit"} SMSを送信する
      %p ※電話番号は本人確認や不正利用防止のために利用します。他のユーザーに公開されることはありません。
      %a{href: "", target: "_blank"}
        電話番号の確認が必要な理由
        %i.fas.fa-chevron-right
%footer.single-footer
  %nav
    %ul.clearfix
      %li
        %a{href: ""} プライバシーポリシー
      %li
        %a{href: ""} メルカリ利用規約
      %li
        %a{href: ""} 特定商取引に関する表記
  %a{href: "https://www.mercari.com/jp/"}
    %img{alt: "mercari", height: "65", src: "//www-mercari-jp.akamaized.net/assets/img/common/common/logo-gray.svg?2091621301", width: "80"}/
  %p
    %small © Mercari, Inc.