%header.single-header
  %img_tag{src: "fmarket_logo_red.svg", height:'50', width:'185'}
%main.page-zero
  %section
    %h2 新規会員登録
    .login-buttons
      %button.button1{type: "submit"}
        %i.fas.fa-envelope
        メールアドレスで登録する
      %button.button2{type: "submit"}
        %i.fab.fa-facebook-square
        Facebookで登録する
      %button.button3{type: "submit"}
        %i.fab.fa-google
        Googoleで登録する
%footer.single-footer
  %nav
    %ul.clearfix
      %li
        %link_to プライバシーポリシー
      %li
        %link_to メルカリ利用規約
      %li
        %link_to 特定商取引に関する表記
  %link_to{href: "https://www.mercari.com/jp/"}
    %img{alt: "mercari", height: "65", src: "//www-mercari-jp.akamaized.net/assets/img/common/common/logo-gray.svg?2091621301", width: "80"}/
  %p
    %small © Mercari, Inc.
