.nav-bread
  .nav-bread__nav-box
    %ul
      %li<>
        メルカリ
      %li.arrow<>
        >
      %li<>
        = link_to 'マイページ', '＃', class: "editlink"
      %li.arrow<>
        >
      %li.logout<>
        ログアウト
.main-contents
  .main-contents__left-menu
  .main-contents__righ-box