-#コントローラーで条件分岐してない為、ここに５ページ分まとめています。
-#確認したいページのみコメントアウトを外して下さい。
-#また、パスはhttp://localhost:3000/tmpです。

=render partial: 'index_one'
-# =render partial: 'index_two'
-# =render partial: 'index_three'
-# =render partial: 'index_four'
-# =render partial: 'index_five'

