!!!
%html
  %head
    %meta{content: "text/html; charset=UTF-8", "http-equiv": "Content-Type"}/
    %meta{charset: "UTF-8"}/
    %link{href: "application.scss", rel: "stylesheet"}/
    %link{crossorigin: "anonymous", href: "https://use.fontawesome.com/releases/v5.7.2/css/all.css", integrity: "sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr", rel: "stylesheet"}/
    %title メルカリ
  %body
    -# =render partial: 'index_one'
    -# =render partial: 'index_two'
    -# =render partial: 'index_three'
    -# =render partial: 'index_four'
    =render partial: 'index_five'
