<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="application.scss">
    <title>メルカリ</title>
  </head>
  <body>
    <header class="single-header">
      <h1>
        <a href="">
          <img src="//www-mercari-jp.akamaized.net/assets/img/common/common/logo.svg?1144760951">
        </a>
      </h1>
      <nav>
        <ol class="clearfix">
          <li class="procedure_one">
            会員情報<br>
            <div class="progress-status">
            </div>
          </li>
          <li class="procedure_two">
            電話番号認証<br>
            <div class="progress-status">
            </div>
          </li>
          <li class="procedure_three">
            お届け先住所<br>
            <div class="progress-status">
            </div>
          </li>
          <li class="procedure_four">
            支払い方法<br>
            <div class="progress-status">
            </div>
          </li>
          <li class="procedure_five">
            完了<br>
            <div class="progress-status">
            </div>
          </li>
        </ol>
      </nav>
    </header>
    <main>
      <h2>会員情報入力</h2>
      <input type="hidden" name="" value="">
      <form>
        <div>
          <div class="form-group">
            <label for="nickname">ニックネーム</label>
            <span>必須</span>
            <input type="text" value="" name="nickname" placeholder="例) メルカリ太郎">
          </div>
          <div class="form-group">い</div>
          <div class="form-group">う</div>
          <div class="form-group">え</div>
          <div class="form-group">お</div>
          <div class="form-group">か</div>
          <div class="form-group">き</div>
        </div>
      </form>
    </main>
    <footer class="single-footer">
      <nav>
        <ul class="clearfix">
          <li>
            <a href="">プライバシーポリシー</a>
          </li>
          <li>
            <a href="">メルカリ利用規約</a>
          </li>
          <li>
            <a href="">特定商取引に関する表記</a>
          </li>
        </ul>
      </nav>
      <a href="https://www.mercari.com/jp/">
        <img src="//www-mercari-jp.akamaized.net/assets/img/common/common/logo-gray.svg?2091621301" alt="mercari" width="80" height="65">
      </a>
      <p>
        <small>© Mercari, Inc.</small>
      </p>
    </footer>
  </body>
</html>
