- @chanel.each do |chanel|
  %li.item
    .item__details
      = link_to chanel do
        %figure
          .item-image
            %span 
              ¥
              = chanel.price 

            - if chanel.images.attached?
              - chanel.images.each do |image|
                = image_tag image

            - if chanel.buyer_id.present? 
              .items-box_photo__sold
                .items-box_photo__sold__inner
                  SOLD

          %figcaption
            %span 
              = chanel.name