- @chanel.each do |chanel|
  %li.item
    .item__details
      = link_to chanel do
        %figure
          .item-image
            %span 
              ¥
              = chanel.price 

            - if chanel.images.attached?
              - chanel.images.each do |image|
                = image_tag image

          %figcaption
            %span 
              = chanel.name