- @elecs.each do |elec|
  %li.item
    .item__details
      = link_to elec do
        %figure
          .item-image
            %span 
              ¥
              = elec.price 

            - if elec.images.attached?
              - elec.images.each do |image|
                = image_tag image

            - if elec.buyer_id.present? 
              .items-box_photo__sold
                .items-box_photo__sold__inner
                  SOLD

          %figcaption
            %span 
              = elec.name