- @ladies.each do |lady|
  %li.item
    .item__details
      = link_to lady do
        %figure
          .item-image
            %span 
              ¥
              = lady.price

            - if lady.images.attached?
              - lady.images.each do |image|
                = image_tag image

            - if lady.buyer_id.present? 
              .items-box_photo__sold
                .items-box_photo__sold__inner
                  SOLD

          %figcaption
            %span 
              = lady.name


