- @mens.each do |mens|
  %li.item
    .item__details
      = link_to mens do
        %figure
          .item-image
            %span 
              ¥
              = mens.price 

            - if mens.images.attached?
              - mens.images.each do |image|
                = image_tag image

            - if mens.buyer_id.present? 
              .items-box_photo__sold
                .items-box_photo__sold__inner
                  SOLD

          %figcaption
            %span 
              = mens.name