- @nikes.each do |nike|
  %li.item
    .item__details
      = link_to nike do
        %figure
          .item-image
            %span 
              ¥
              = nike.price 

            - if nike.images.attached?
              - nike.images.each do |image|
                = image_tag image

          %figcaption
            %span 
              = nike.name