- @supremes.each do |supreme|
  %li.item
    .item__details
      = link_to supreme do
        %figure
          .item-image
            %span 
              ¥
              = supreme.price 

            - if supreme.images.attached?
              - supreme.images.each do |image|
                = image_tag image

            - if supreme.buyer_id.present? 
              .items-box_photo__sold
                .items-box_photo__sold__inner
                  SOLD

          %figcaption
            %span 
              = supreme.name