=render partial: "layouts/header"
- breadcrumb :logout

.nav-bread
  .nav-bread__nav-box
    %ul
      %li
        = breadcrumbs  separator: " &rsaquo; "


.main-background
  .main-contents
    = render partial: 'layouts/left-menu'
    


    .main-contents__right-box
      .main-contents__right-box__right-inner
        .main-contents__right-box__right-inner__right-logout
          = link_to destroy_user_session_path, method: :delete, class: "link-logout" do
            ログアウト


=render partial: "layouts/button"
=render partial: "layouts/banner-bottom"
=render partial: "layouts/footer"