.nav-bread{
  color: #333;
  font-family: 'Source Sans Pro', Helvetica , Arial,  'YuGothic',  'Meiryo', sans-serif;
  font-size: 14px;
  width: 100%;
  height: 49px;
  box-shadow: 0px 1px 5px #999;
  position:absolute; 
  top: 1; 
  left:0; 
  background-color: #ffffff;
  z-index: 2;
  &__nav-box{
    margin: 0 210px;
    padding: 16px 0;
    ul{
      display:flex;
      list-style: none;
      li{
        .editlink {
          text-decoration: none;
          color: #333;
          
        }
      }
      li.arrow{
        font-size: 12px;
        margin: 0 8px;
        padding-top: 3px;
      }
      li.logout{
        font-weight: 600;
      }
    }
  }
}

.main-background{
  font-family: 'Source Sans Pro', Helvetica , Arial,  'YuGothic',  'Meiryo', sans-serif;
  background-color: #f5f5f5;
  margin:1px;
  width:100%;
  height: calc(1950px - 49px -640px);
  margin-top: 49px;
  .main-contents{
    width: 1020px;
    height: 100%;
    margin: 0 auto;
    padding-top: 40px;
    color: #333;
    display: flex;
    justify-content: space-between;

    //ここから左のメニュー
    &__left-menu{
      width: 280px;
      &__menu-each{
        min-height:48px;
        background-color: #ffffff;
        padding:16px;
        border-bottom: 1px solid #f5f5f5;
        font-size: 14px;
        text-decoration: none;
        position: relative;
        z-index: 1; 
        a.side {
          text-decoration: none;
          color: #333;
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          padding:16px;
          z-index: 4;
          span.right-arror{
            color:rgb(202, 199, 199);
            float: right;
            font-weight: bold;
            font-size:16px;
            padding: auto 0;
            margin-right:6px;
          }
        }
        a.side:hover{
          background-color:#fafafa;
          span.right-arror{
            color:#333;
            float: right;
            font-weight: bold;
            font-size:19px;
            opacity: 1;
            align-items: center;
            margin-right:2px;
            line-height: 1;
            transition: color 0.6s ease 0s;
          }
        }
        .logout {
          background-color: #eee;
          font-weight: 600;
        }
        a.logout:hover{
          background-color: #eee;
        }
      }
      &__menu-title{
        margin-bottom: 3px;
        margin-top:40px;
        font-size:16px;
        font-weight: bold;
      }
    }
    //ここまで（左のメニュー）

    &__right-box{
      width: 700px;
      height: 179px;
      background-color: #ffffff;
      &__right-inner{
        height:50px;
        margin:64px;
        &__right-logout{
          width:320px;
          margin: 0 auto;
          color: #ffffff;
          background-color: rgb(234, 53, 45);
          font-size:14px;
          height: 50px;
          display: flex;
          justify-content: center;
          align-items: center;
          position: relative;
          z-index: 1; 
          text-decoration: none;
          a.link-logout{
            text-decoration: none;
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            padding-top: 16px;
            padding-bottom: 16px;
            text-align: center;
            z-index: 4;
            color: #ffffff;
          }
        }
      }
    }
  }
}