.profile-box{
  width: 700px;
  height: 570px;
  background-color: #ffffff;
  font-family: 'Source Sans Pro', Helvetica , Arial, '游ゴシック体', 'YuGothic', 'メイリオ', 'Meiryo', sans-serif;
  display: flex;
  flex-direction: column;
  &__profile-top{
    height: 50px;
    width: 100%;
    background-color:#fff;
    &__profile-inside{
      text-align:center;
      padding-top: 8px;
      padding-bottom: 8px;
      font-size: 24px;
      color: #333;
      line-height: 1.4;
      font-weight: bold;
    }
  }
  form {
    .profile-icon{
      width: 100%;
      height: 156px;
      padding: 72px 16px 24px;
      display: flex;
      justify-content: center;
      background: url(/profile_background.jpg);
      background-repeat: no-repeat;
      figure{
        img{
          border-radius: 50px;
        }
      }
      input{
        width: 220px;
        height: 48px;
        background-color: #ffffff;
        border-radius: 4px;
        font-size: 16px;
        border: 1px solid #ccc;
        padding: 10px 16px 8px;
        margin-top: auto;
        margin-bottom: auto;
        margin-left: 8px;
      }
    }
    .profile-content{
      padding: 40px 16px;
      textarea{
        border: 1px solid #ccc;
        min-height: 216px;
        padding: 10px;
        width: 668px;
      }
      button{
        width:100%;
        height: 50px;
        background-color: #ea352d;
        color: #ffffff;
        font-size: 14px;
        margin-top: 16px;
      }
    }
  }
}