
$lightgray: rgb(245, 245, 245);
$gray: rgb(204, 204, 204);
$red: rgb(234, 53, 45);
$black: #333;
$lightblue: #0099ee;
$white: #fff;
$shadow: rgba(0, 0, 0, 0.185);

$footer-black: rgb(31, 31, 31,);

a{
  text-decoration: none;
}

li{
  list-style: none;
}

div {
  display: block;
}
