div {
  display: block;
}

$lightgray: rgb(245, 245, 245);
$gray: rgb(204, 204, 204);
$red: rgb(234, 53, 45);
$black: #333;
$lightblue: #0099ee;
$white: #fff;
$shadow: rgba(0, 0, 0, 0.185);

$footer-black: rgb(31, 31, 31,);


a{
  text-decoration: none;
}

li{
  list-style: none;
}


.header{
  background-color: $white;
  height: 100px;
  box-shadow: 0px 2px 4px $shadow;

  &__contents{
    height: 100%;
    width: 1020px;
    padding-top: 8px;
    margin: auto;
    background-color: $white;

    &__top{
      height: 40px;
      display: flex;

      &__title-image{
        margin-right: 45px;
      }

      &__form{
        width: 100%;
        display: flex;
        position: relative;
        input{
          background-color: $lightgray;
          height: 40px;
          width: 100%;
          padding: 0 50px 0 10px;
          font-size: 16px;
          border-width: 1px;
          border-style: solid;
          border-color: $gray;
          border-image: initial;
          border-radius: 4px;
          outline: none;
          transition: 0.3s ease-out 0s;
        }
        input:focus{
          border-width: 1px;
          border-style: solid;
          border-color: $lightblue;
        }
        button{
          height: 40px;
          width: 40px;
          position: absolute;
          right: 0;
        }
      }
    }

    &__row{
      margin-top: 8px;
      height: 44px;
      line-height: 36px;
      display: flex;
      justify-content: space-between;

      .l-left{
        .searchs{
          font-size: 14px;
          display: flex;

          a{
            color: $black;
            font-weight: 700;
          }

          a:hover{
            color: $lightblue;
          }

          i{
            color: $red;
            margin-right: 4px;
          }

          &__category-search{
            padding-right: 11px;


          }

          &__brand_search{
            padding-left: 11px;

            span{

            }
          }
        }
      }

      .l-right{

        .login-nav{
          display: flex;
          line-height: 30px;
          &__sign-up{

            a{
              background-color: $red;
              color: $white;
              font-size: 14px;
              border-width: 1px;
              border-style: solid;
              border-color: $red;
              border-image: initial;
              border-radius: 4px;
              padding: 8px 10px;
            }
          }
  
          &__log-in{

            a{
              margin-left: 10px;
              color: $lightblue;
              font-size: 14px;
              border-width: 1px;
              border-style: solid;
              border-color: $lightblue;
              border-image: initial;
              border-radius: 4px;
              padding: 8px 10px;
              transition: 0.3s ease-out 0s;
            }

            a:hover{
              background-color: $lightblue;
              color: $white;

            }
          }
        }
      }
    }
  }
}

.footer{
  background-color: $footer-black;
  color: $white;
  height: 387px;
  padding: 0 20px 10px;
  .footer-menu{
    margin: 0 auto;

  }
  .footer-bottom{
    
    width: 1020px;
    font-size: 12px;
    margin: 30px auto 20px;
    
    a{
      margin-right: 10px;
      
    }
    .team-copyright{
      position: relative;
      display: inline-block;
      width: 745px;
      text-align: center;
      
      .small{
        position: absolute;
        vertical-align: sub;
      }
    }
  }
}