// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "./setting";
@import "./clearfix";
@import "./reset";

body {
  background-color: $lightgray;
  border-style: solid;
  position: relative;
  a {
    text-decoration: none;
    color: $lightblue;
  }
}

.single-header {
  height: 128px;
  display: flex;
  align-items: center;
  justify-content: center;
  h1 {
    width: 16%;
    height: 49px;
    padding-right: 10px;
  }
  nav {
    color: gray;
    width: 60%;
    height: 49px;
    ol {
      list-style: none;
      display: flex;
      text-align: center;
      margin: 0 10px;
      position: relative;
      .procedure_one {
        font-size: 12px;
        width: 20%;
        position: relative;
        .progress-status {
          background-color: $red;
          width: 12px;
          height: 12px;
          margin:  8px auto 0;
          border-radius: 50%;
        }
        &::after {
          bottom: 5px;
          content: '';
          width: 50%;
          height: 2px;
          background: $red;
          position: absolute;
          right: 0;
        }
      }
      .procedure_two {
        font-size: 12px;
        width: 20%;
        position: relative;
        .progress-status {
          background-color: $gray;
          width: 12px;
          height: 12px;
          margin:  8px auto 0;
          border-radius: 50%;
        }
        &::before {
          bottom: 5px;
          content: '';
          width: 50%;
          height: 2px;
          background: $gray;
          position: absolute;
          left: 0;
        }
        &::after {
          bottom: 5px;
          content: '';
          width: 50%;
          height: 2px;
          background: $gray;
          position: absolute;
          right: 0;
        }
      }
      .procedure_three {
        font-size: 12px;
        width: 20%;
        position: relative;
        .progress-status {
          background-color: $gray;
          width: 12px;
          height: 12px;
          margin:  8px auto 0;
          border-radius: 50%;
        }
        &::before {
          bottom: 5px;
          content: '';
          width: 50%;
          height: 2px;
          background: $gray;
          position: absolute;
          left: 0;
        }
        &::after {
          bottom: 5px;
          content: '';
          width: 50%;
          height: 2px;
          background: $gray;
          position: absolute;
          right: 0;
        }
      }
      .procedure_four {
        font-size: 12px;
        width: 20%;
        position: relative;
        .progress-status {
          background-color: $gray;
          width: 12px;
          height: 12px;
          margin:  8px auto 0;
          border-radius: 50%;
        }
        &::before {
          bottom: 5px;
          content: '';
          width: 50%;
          height: 2px;
          background: $gray;
          position: absolute;
          left: 0;
        }
        &::after {
          bottom: 5px;
          content: '';
          width: 50%;
          height: 2px;
          background: $gray;
          position: absolute;
          right: 0;
        }
      }
      .procedure_five {
        font-size: 12px;
        width: 20%;
        position: relative;
        .progress-status {
          background-color: $gray;
          width: 12px;
          height: 12px;
          margin:  8px auto 0;
          border-radius: 50%;
        }
        &::before {
          bottom: 5px;
          content: '';
          width: 50%;
          height: 2px;
          background: $gray;
          position: absolute;
          left: 0;
        }
      }
    }
  }
}


main {
  background-color: $white;
  width: 75%;
  margin: 0 auto;
  font-family: "Source Sans Pro", Helvetica, Arial, 游ゴシック体, YuGothic, メイリオ, Meiryo, sans-serif;
  h2 {
    text-align: center;
    font-size: 22px;
    padding: 32px;
    border-bottom: solid 1px $lightgray;
  }
  form {
    div {
      width: 75%;
      margin: 0 auto;
      .form-group {
        text-align: left;
        margin-top: 32px;
        label {
          font-weight: 600;
        }
        span {
          background-color: #ea352d;
          margin: 0 8px;
          padding: 2px 4px;
          border-radius: 2px;
          color: #fff;
          font-size: 12px;
          vertical-align: top;
        }
        input {
          height: 48px;
          width: 100%;
          padding: 10px 16px 8px;
          border-radius: 4px;
          border: 1px solid #ccc;
          background: #fff;
          line-height: 1.5;
          font-size: 16px;
          display: block;
          margin: 0 auto;
        }
        p {
          margin: 8px 0 0;
          line-height: 1.5;
        }
        button {
          display: block;
          width: 100%;
          line-height: 48px;
          font-size: 14px;
          border: 1px solid transparent;
          -webkit-transition: all ease-out .3s;
          transition: all ease-out .3s;
          cursor: pointer;
          text-align: center;
          background-color: $red;
          border: 1px solid $red;
          color: $white;
          margin-top: 30px;
        }
      }
    } 
  }
}

.password-revelation {
  margin: initial;
  div {
    margin: initial;
    display: flex;
    align-items: center;
    #reveal-password {
      width: initial;
      margin: initial;
    }
  }
}

.form-require-half {
  display: flex;
  margin: initial;
  #half {
    width: initial;
    margin-right: 15px;
  }
}

.birthday-select-wrap {
  height: 50px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  select {
    position: relative;
    z-index: 2;
    height: 48px;
    padding: 0 16px;
    border-radius: 4px;
    border: 1px solid #ccc;
    background: 0;
    font-size: 16px;
    line-height: 1.5;
    cursor: pointer;
  }
  .birth {
    background-color: $white;
    margin: 0 8px;
    padding: 2px 4px;
    color: $black;
    font-size: 12px;
  }
}

.identify-info {
  height: 20px;
  .identify {
    float: right;
  }
}


.privacy-policy{
  width: 100%;
  padding-top: 10px;
  padding-bottom: 50px;
  #privacy {
    color: gray;
    background-color: $lightgray;
  }
}


.single-footer {
  height: 150px;
  width: 45%;
  text-align: center;
  margin: 0 auto;
  padding: 40px 0;
  nav {
    padding-bottom: 30px;
    ul {
      display: flex;
      li {
        font-size: 12px;
        width: 33%;
        a {
          color: $footer-black;
          text-decoration: none;
        }
      }
    }
  }
  p {
    padding-top: 8px;
  }
}