.banners
  =link_to "https://www.mercari.com/jp/" do
    .banner__top
      .banner__top__contents
        =image_tag "https://web-jp-assets.mercdn.net/_next/static/images/top-banner-main-device-1f627e51e488f6ca35feaa6a08b79736.png",class:"phone-image"
        .banner__top__contents__area
          .banner__top__contents__area__title
            スマホで
            かんたん
            %br/
            フリマアプリ
          %p.banner__top__contents__area__text
            Fmarketはスマホカメラからすぐに出品できる
            %br/
            購入時も安心な独自システムアプリです
          .banner__top__contents__area__stores
            %object
              =link_to "https://www.mercari.com/jp/" do
                =image_tag "https://web-jp-assets.mercdn.net/_next/static/images/app-store-a5c17948c6fd6d5b60b13d421cd60b35.svg", height: "50", width: "170"
            %object
              =link_to "https://www.mercari.com/jp/" do
                =image_tag "https://web-jp-assets.mercdn.net/_next/static/images/google-play-495575abb895b405aa6336b2a4304958.svg", height: "50", width: "170"
      .banner__top__arrow-left
        %i.fas.fa-chevron-left
      .banner__top__arrow-right
        %i.fas.fa-chevron-right