%li.item
  .item__details
    %a{ href: "/"}
      %figure
        .item-image
          %span ¥30,000
          %img{ src: "https://o.imgz.jp/fashionnews/105709/cwhi5n7qwwrabxq.jpg"}/
        %figcaption
          %span そこらへんで拾ってきた画像だからなんのこっちゃしらんけど可愛い
%li.item
  .item__details
    %a{ href: "/"}
      %figure
        .item-image
          %span ¥30,000
          %img{ src: "https://cdn.thumb.shop-list.com/res/up/shoplist/shp/__basethum900__/decorative/2ta/2ta003-11.jpg"}/
        %figcaption
          %span そこらへんで拾ってきた画像だからなんのこっちゃしらんけど可愛い
%li.item
  .item__details
    %a{ href: "/"}
      %figure
        .item-image
          %span ¥30,000
          %img{ src: "https://arine.akamaized.net/uploads/photo/upload_photo/data/355872/large_b241da6c-41e5-4f25-b4f8-3c63d5dd210c.jpeg"}/
        %figcaption
          %span そこらへんで拾ってきた画像だからなんのこっちゃしらんけど可愛い

%li.item
  .item__details
    %a{ href: "/"}
      %figure
        .item-image
          %span ¥30,000
          %img{ src: "https://o.imgz.jp/fashionnews/105709/cwhi5n7qwwrabxq.jpg"}/
        %figcaption
          %span そこらへんで拾ってきた画像だからなんのこっちゃしらんけど可愛い
%li.item
  .item__details
    %a{ href: "/"}
      %figure
        .item-image
          %span ¥30,000
          %img{ src: "https://cdn.thumb.shop-list.com/res/up/shoplist/shp/__basethum900__/decorative/2ta/2ta003-11.jpg"}/
        %figcaption
          %span そこらへんで拾ってきた画像だからなんのこっちゃしらんけど可愛い
%li.item
  .item__details
    %a{ href: "/"}
      %figure
        .item-image
          %span ¥30,000
          %img{ src: "https://arine.akamaized.net/uploads/photo/upload_photo/data/355872/large_b241da6c-41e5-4f25-b4f8-3c63d5dd210c.jpeg"}/
        %figcaption
          %span そこらへんで拾ってきた画像だからなんのこっちゃしらんけど可愛い
%li.item
  .item__details
    %a{ href: "/"}
      %figure
        .item-image
          %span ¥30,000
          %img{ src: "https://o.imgz.jp/fashionnews/105709/cwhi5n7qwwrabxq.jpg"}/
        %figcaption
          %span そこらへんで拾ってきた画像だからなんのこっちゃしらんけど可愛い
%li.item
  .item__details
    %a{ href: "/"}
      %figure
        .item-image
          %span ¥30,000
          %img{ src: "https://cdn.thumb.shop-list.com/res/up/shoplist/shp/__basethum900__/decorative/2ta/2ta003-11.jpg"}/
        %figcaption
          %span そこらへんで拾ってきた画像だからなんのこっちゃしらんけど可愛い
%li.item
  .item__details
    %a{ href: "/"}
      %figure
        .item-image
          %span ¥30,000
          %img{ src: "https://arine.akamaized.net/uploads/photo/upload_photo/data/355872/large_b241da6c-41e5-4f25-b4f8-3c63d5dd210c.jpeg"}/
        %figcaption
          %span そこらへんで拾ってきた画像だからなんのこっちゃしらんけど可愛い