=render partial: "layouts/header"
=render partial: "products/banner-top"
=render partial: "products/contents"
=render partial: "layouts/button"
=render partial: "layouts/banner-bottom"
=render partial: "layouts/footer"