-# 商品詳細ぺージ

=render partial: "layouts/header"

.detail-container
  %h1
    ワイドパンツ
  .detail-container__ditail-wrap
    .imagebox-left
    %table.table-right
      %tbody
        %tr
          %th
            出品者
          %td


