<h1>画像テスト、テンポラリー</h1>

<%= link_to 'Add user', tests_path %>

<ul>
  <% @tests.each do |test| %>
    <li>
      <p><%= test.name %></p>
      <% if test.image.attached? %>
      <%= image_tag test.image %>
      <% end %>
    </li>
  <% end %>
</ul>