.popular{
  padding: 56px 0 30px;
  text-align: center;
  background-color: $white;
  h2{
    margin-bottom: 16px;
    font-size: 28px;
    
  }

  &__lists{
    text-align: center;
    
    ul{
      display: flex;
      justify-content: center;
      li{
        margin: 10px 0 0 10px;
        a{
          color: $black;
          font-weight: bold;
          background-color: $lightgray;
          border-radius: 20px;
          font-size: 14px;
          padding: 8px 16px;
        }
      }
    }
  }
}

.main-contents{
  max-width: 1020px;
  padding: 42px 0 100px;
  margin: 0 auto;
  
  &__lists{
    
    &:not(:first-child){
      margin-top: 60px;
    }

    &__head{
      margin-bottom: 16px;
      display: flex;
      justify-content: space-between;
      align-items: flex-end;
      h3{
        font-size: 24px;
      }
      a{
        height: 100%;
        font-size: 14px;
        color: $lightblue;
        padding: 5px 0 5px 5px;
        position: relative;

        i{
          color: $lightblue;
        }
      }
    }
    
    &__bodys{

      &__body{

        .items{
          display: flex;
          flex-wrap: wrap;
          height: 100%;
          margin: -10px;
          
          .item{
            position: relative;
            width: 20%;
            padding: 10px;
            
            &__details{

              a{
                
                width: 100%;
                vertical-align: top;
                figure{
                  box-shadow: 0 2px 4px $shadow;
                  visibility: visible;
                  transition: all 0.2s ease 0s;
                  opacity: 1;

                  &:hover{
                    box-shadow: 0 0 6px $lightblue ;
                  }
                  .item-image{
                    height: 0;
                    overflow: hidden;
                    padding: 0 0 100%;
                    position: relative;

                    span{
                      background-color: $prace-shadow;
                      position: absolute;
                      font-size: 17px;
                      z-index: 2;
                      bottom: 8px;
                      color: $white;
                      padding: 0 12px;
                      border-radius: 0 14px 14px 0;
                    }

                    img{
                      height: 188px;
                      width: 100%;
                      object-fit: cover;
                      z-index: 1;
                    }
                  }
                  figcaption{
                    box-sizing: border-box;
                    height: 64px;
                    font-size: 14px;
                    padding: 0 14px;
                    line-height: 1.4em;
                    display: flex;
                    align-items: center;
                    background-color: $white;

                    span{
                      display: inline-block;
                      overflow: hidden;
                      height: 2.8em;
                      color: $black;
                      position: relative;

                      &::before{
                        content: "";
                        height: 50%;
                        width: 50%;
                        position: absolute;
                        background: linear-gradient(90deg,hsla(0,0%,100%,0),#fff 72%);
                        bottom: 0;
                        right: 0;
                      }
                    }
                  }
                }
              }
            }
          }
        }
      } 
    }
  }
}