

.exhibition{
  background-color: $white;
  width: 700px;
  margin: 0 auto;
  
  .infomation{
    display: inline-block;
    color: $white;
    background-color: $lightblue;
    border-radius: 50%;
    height: 14px;
    width: 14px;
    line-height: 14px;
    font-size: 12px;
    text-align: center;
  }
  .form-require{
    margin-bottom: 8px;
    padding: 3px 5px;
    border-radius: 2px;
    color: $white;
    background-color: $red;
    font-size: 12px;
    vertical-align: top;
    font-weight: bold;
  }
  p.empty {
    color: $red;
    font-size: 14px;
  } 

  p.price_name{
    
  }

  .any{
    background-color: $gray;
  }
  &__contents{
    .contents-header{
      border-bottom: 2px solid $lightgray;
      text-align: center;
      h2{
        padding: 32px 16px;
        font-size: 22px;
      }
    }

    .up-load-box{
      padding: 40px;
      border-bottom: 2px solid $lightgray;

      h3{
        font-size: 16px;
      }
      p{
        margin-top: 6px;
        font-size: 13px;
      }
      &__drop-box{
        margin-top: 10px;
        min-height: 162px;
        width: 100%;
        position: relative;
        display: flex;
        
        ul{
          top: 0;
          display: flex;
          z-index: 2;

          li.upload-item{
            display: none;
          }
          
          li{
            background-color: darken($lightgray, 3%);
            margin-right: 5px;
            width: 120px;

            position: relative;
            figure{
              top: 0;
              height: 116px;
              text-align: center;
              background-color: darken($lightgray, 3%);

              img{
                top: 2px;
                height: 140px;
                width: 105px;
                transform: translate(-50%);
                position: absolute;
                object-fit: cover;
              }
            }
            
            .button{
              font-size: 14px;
              .destroy{
                position: absolute;
                cursor: pointer;
                color: $lightblue;
                text-align: center;
                background-color: darken($lightgray, 3%);
                display: inline-block;
                line-height: 44px;
                width: 100%;
              }
            }
          }
          li.pic{
            display: block;
          }
          
        }
        .none{
          display: none;
        }
        .active{
          display: block;
        }
        label{
          background-color: darken($lightgray, 3%);
          outline: 1px dashed $gray;
          position: relative;
          vertical-align: center;
          display: table-cell;
          min-height: 162px;
          width: 100%; 
          

          input{
            display: block;
            position: absolute;
            opacity: 0;
            height: 100%;
            width: 100%;
            z-index: 5;
            cursor: pointer;
          }

          pre{
            position: absolute;
            word-wrap: break-word; 
            font-size: 14px;
            text-align: center;
            top: 50%;
            transform: translate(0, -50%);
            left: 16px;
            right: 16px;
            white-space: pre-wrap;
            word-wrap: break-word;
          }
        }
        
      }
    }

    .sell-content{
      padding: 40px;
      border-bottom: 2px solid $lightgray;

      .form-group{

        &:not(:first-child){
          margin-top: 40px;
        }
        
        label{
          display: inline-block;
        }
        input,textarea{
          display: block;
          line-height: 1.5em;
          border: 1px solid $gray;
          border-radius: 4px;
          margin-top: 8px;
          padding: 10px 16px 8px;
          width: 100%;
          outline: none;
          &:focus{
            border-width: 1px;
            border-style: solid;
            border-color: $lightblue;
          }
        }

        textarea{
          min-height: 155px;
        }
      }

    }
    .sell-selecter{
      display: flex;
      justify-content: space-between;

      h3{
        font-size: 14px;
        color: darken($gray,30%);
      }

      .sell-form-box{

        #size{
          display: none;
        }

        #brand{
          display: none;
        }

        .form-group{
        
          .select-wrap{
            position: relative;
            width: 400px;
            margin-top: 8px;
            
            height: 48px;
            border: 1px solid $gray;
            border-radius: 6px;

            i{
              display: block;
              position: absolute;
              right: 16px;
              top: 35%;
              color: darken($gray,30%);
              z-index: 1;
            }


            select{
              position: absolute;
              display: block;
              cursor: pointer;
              height: 100%;
              width: 100%;
              font-size: 16px;
              padding: 0 16px;
              z-index: 2;
              outline: none;

              &:focus{
                border: 1px solid $lightblue;
                
              }
            }
            
          }
        } 

        ul{

          li{
            display: flex;
            justify-content: space-between;
            padding-bottom: 24px;
            height: 72px;
            &:not(:first-child){
              padding-top: 24px;
              border-top: 1px solid $gray;
            }
            .prace-form{
              display: flex;
              justify-content: space-between;
              line-height:48px;
              
              input[type=number]::-webkit-inner-spin-button,
              input[type=number]::-webkit-outer-spin-button {
                -webkit-appearance: none;
                margin: 0;
              }
              .l-left{
                width: 200px;
              }
              .l-right{
                display: flex;
                width: 200px;
                
                span{
                  font-size: 12px;
                }

                input{
                  text-align: right;
                  border: 1px solid $gray;
                  border-radius: 4px;
                  padding-right: 8px;
                  width: 100%;
                  outline: none;
                  margin-left: 5%;

                  &:focus{
                    border-width: 1px;
                    border-style: solid;
                    border-color: $lightblue;
                  }
                }
              }
            }
          }

          li.bold{
            font-weight: bold;

            .l-right{
              font-size: 20px;
            }
          }
        }
      }
    }

    .sell-btn-box{
      ul{
        li.text-box{
          font-size: 14px;

          p{
            .note,span{
              margin-right: -5px;
            }
          }
        }
        li{

          .btn-red{
            margin-top: 40px;
            background-color: $red;
            width: 100%;
            line-height: 48px;
            color: white;
          }

          .btn-gray{
            display: block;
            margin: 24px auto 0;
            background-color: darken($gray, 5%);
            color: $white;
            text-align: center;
            width: 45%;
            line-height: 48px;
            
          }
        }
      }
    }
  }
}