//商品詳細ページ用

.detail-container{
  width: 700px;
  height: 850px;
  background-color: #ffffff;
  margin-top: 40px;
  margin-left: auto;
  margin-right: auto;
  padding: 24px 40px 40px;
  font-family: 'Source Sans Pro', Helvetica , Arial, 'YuGothic',  'Meiryo', sans-serif;
  text-align: center;

  
  h1{
    font-size: 24px;
    position: relative;
    .fa-chevron-right{
      position: absolute;
      line-height: 36px;
      right: 0;
      cursor: pointer;

      &:hover{
        .edit-btn{
          display: inline-block;
        }
      }
    }
    .edit-btn{
      background-color: $white;
      box-shadow: 0 2px 4px $shadow;
      color: $black;
      height: 40px;
      width: 100px;
      font-size: 14px;
      position: absolute;
      right: -100px;
      display: none;

      &:hover{
        color: $white;
        background-color: $red;
      }
    }


    // .edit-btn{
    //   display: none;
    //   right: 0;
    // }

    // .edit-form{
    //   position: absolute;
    //   right: 0;
    //   background: darken($gray, 15%);
    //   height: 33px;
    //   width: 100px;
    //   border-radius: 20px;
      
    //   .edit-btn{
    //     line-height: 33px;
    //     font-size: 16px;
    //     color: $white;
    //   }
    // }
  }
  &__ditail-wrap{
    margin-top: 16px;
    display:flex;
    justify-content: space-between;
    .imagebox-left{
      width: 300px;
      height: 370px;
      background-color: #f5f5f5;
      &__imagebox-large{
        height: 225px;
        width: 300px;
        margin-top: 37.5px;
        margin-bottom: 37.5px;
        img {
          object-fit: contain;
        }
        .inactive{
          display: none;
        }
      }
      &__imagebox-bottom{
        height: 60px;
        display: flex;
      }
    }
    table.table-detail{
      border-collapse: collapse;
      border-spacing: 0;
      width:300px;
      height:420px;
      border: 1px solid #f5f5f5;
      tbody.tbody-detail{
        tr.tr-detail{
          width: 300px;
          min-height: 46px;
          margin: 0;
          text-align:left;
          font-size: 14px;
          th.th-name {
            padding-left: 8px;
            width: 117px;
            background-color: #fafafa;
            font-size: 14px;
            height: 70px;
            font-weight: 400;
            border: 1px solid #f5f5f5;
          }
          th.th-category{
            padding-left: 8px;
            width: 117px;
            background-color: #fafafa;
            font-size: 14px;
            height: 73px;
            font-weight: 400;
            border: 1px solid #f5f5f5;
          }
          th.others{
            padding-left: 8px;
            width: 117px;
            background-color: #fafafa;
            font-size: 14px;
            height: 46px;
            font-weight: 400;
            border: 1px solid #f5f5f5;
          }
          td {
            width: 183px;
            border-bottom: 1px solid #f5f5f5;
            padding: 8px;
            .face-icon{
              margin-top: 10px;
              p {
                color: #333333;
              }
              .icon-grin{
                color: #ef5185;
              }
              .icon-meh{
                color: #fba933;
                margin-left: 16px;
              }
              .icon-frown{
                color: #6ab5d8;
                margin-left: 16px;
              }
            }
          }
          td.td-category{
            display: flex;
            flex-direction: column;
            justify-content: center;
            height: 100%;
            a {
              line-height: 1;
            }
          }
        }
      }
    }
  }
  .price-box{
    width: 100%;
    height: 50px;
    margin-top: 24px;
    span.price{
      font-size: 50px;
      font-weight: 540;
      margin-right: 16px;
    }
    span.tax{
      font-size: 10px;
    }
  }
  .next-box{
    margin-top: 18px;
    width: 620px;
    height: 60px;
    background-color: #ea352d;
    color: #ffffff;
    font-size: 24px;
    font-weight: 600;
    display: block;
    line-height: 2.5;
  }
  .item-description{
    width: 620px;
    padding-top: 32px;
    text-align: left;
  }
  .button-container{
    width: 620px;
    height: 33px;
    margin-top: 16px;
    display: flex;
    justify-content: space-between;
    font-size: 14px;
    &__button-two{
      display:flex;
      &__button-like{
        background-color: #f5f5f5;
        padding: 8px 16px;
        border-radius: 40px;
        a{
          color: #333333;
        }
      }
      &__button-report{
        background-color: #f5f5f5;
        height: 33px;
        padding: 8px 16px;
        margin-left: 16px;
        border-radius: 40px;
        a{
          color: #333333;
        }
        a:hover {
          opacity: 0.7;
        }
      }
    }
    .button-secure{
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
}

.comment-container{
  width: 700px;
  height: 262px;
  background-color: #ffffff;
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
  font-family: 'Source Sans Pro', Helvetica , Arial, 'YuGothic',  'Meiryo', sans-serif;
  padding: 24px;
  p {
    padding: 8px;
    font-size:  14px;
    background-color: #fff6de;
    line-height: 1;
  }
  textarea{
    margin-top: 8px;
    display: block;
    width: 100%;
    max-width: 100%;
    min-height: 104px;
    border: solid 1px #ccc;
    padding: 10px;
    font-size: 16px;
    line-height: 1.5;
  }
  button{
    margin-top: 8px;
    width: 652px;
    height: 50px;
    background-color: #aaaaaa;
    text-align: center;
  }
  span.submit-comment{
    color: #ffffff;
    font-size: 14px;
  }
}

.middle-link{
  font-family: 'Source Sans Pro', Helvetica , Arial, 'YuGothic',  'Meiryo', sans-serif;
  display: flex;
  justify-content: space-between;
  width: 700px;
  margin-right: auto;
  margin-left: auto;
  margin-top: 24px;
  font-size: 14px;
}

.icons-box{
  font-family: 'Source Sans Pro', Helvetica , Arial, 'YuGothic',  'Meiryo', sans-serif;
  width: 700px;
  height: 138px;
  margin: 24px auto 0;
  padding: 32px 0 24px;
  background-color: #ffffff;
  &__icons-three{
    display: flex;
    justify-content: center;
    padding-top: 20px;
    .fb-icon{
      width: 44px;
      height: 44px;
      color: #385185;
    }
    .twitter-icon{
      width: 44px;
      height: 44px;
      color: #5d9dc9;
      margin-left:8px;
      margin-right: 8px;
    }
    .pint-icon{
      width: 44px;
      height: 44px;
      color: #aa262a;
    }
  }
}

section.other-sell{
  font-family: 'Source Sans Pro', Helvetica , Arial, '游ゴシック体', 'YuGothic', 'メイリオ', 'Meiryo', sans-serif;
  height: 730px;
  width: 700px;
  margin-top: 24px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 80px;
  a.seller-name{
    font-size: 22px;
    font-weight: 600;
  }
  a.relation-name{
    font-size: 22px;
    font-weight: 600;
    margin-top: 20px;
  }
  a.seller-name:hover{
    text-decoration: underline;
  }
  a.relation-name:hover{
    text-decoration: underline;
  }
  .wrapper{
    height: 100%;
    width: 100%;
    display:flex;
    flex-wrap: wrap;
    align-content:space-between;
    justify-content: start;
    a{
      color: #333333;
    }
    .other-boxes{
      height: 330px;
      width: 220px;
      margin-top: 8px;
      margin-right: 12px;

      .items-box{
        img {
          width: 220px;
          height: 220px;
        }
        .vertical-line{
          vertical-align: bottom;
        }
        .items-describe{
          width: 220px;
          height: 112px;
          padding: 16px 16px 6px;
          background-color: #ffffff;
   
          p{
            font-size: 15px;
            height: 60px;
          }
          &__items-num{
            display: flex;
            justify-content: space-between;
            font-weight: 600;
            line-height: 1;
            font-size: 15px;
            color: #333333;
          }
        }
      }
    }
  }
}