.banners
  .banner__bottom
    .banner__bottom__contents
      %img.download-image{src: "https://web-jp-assets.mercdn.net/_next/static/images/download_app_pc-a4418175e8be071827ac88d073f40e4a.png"}/
      .banner__bottom__contents__area
        .banner__bottom__contents__area__title
          %h3 スマホでかんたんフリマアプリ
        .banner__bottom__contents__area__text
          %h3 今すぐ無料ダウンロード！
        .banner__bottom__contents__area__stores 
          = image_tag "/logo_red.svg", height:'70', width:'70'

          = link_to "https://www.mercari.com/jp/", class:"apple" do
            %img{height: "43", width: "150", src: "https://web-jp-assets.mercdn.net/_next/static/images/app-store-a5c17948c6fd6d5b60b13d421cd60b35.svg"}/
          = link_to "https://www.mercari.com/jp/", class:"google" do
            %img{height: "43", width: "150", src: "https://web-jp-assets.mercdn.net/_next/static/images/google-play-495575abb895b405aa6336b2a4304958.svg"}/