%footer.footer
  %nav.footer-top
    .footer-top__menu
      .footer-top__menu__first
        %ul
          %h2.footer-head メルカリについて
          %li
            %a{href: "/"} 会社概要（運営会社）
          %li
            %a{href: "/"} 採用情報
          %li
            %a{href: "/"} プレスリリース
          %li
            %a{href: "/"} 公式ブログ
          %li
            %a{href: "/"} メルカリロゴ利用ガイドライン
          %li.footer-social-link
            %a{href: "/"}
              %i.fab.fa-twitter
          %li.footer-social-link
            %a{href: "/"}
              %i.fab.fa-facebook-square
      .footer-top__menu__second
        %ul
          %h2.footer-head ヘルプ＆ガイド
          %li
            %a{href: "/"} ガイド
          %li
            %a{href: "/"} らくらく便
          %li
            %a{href: "/"} ゆうゆう便
          %li
            %a{href: "/"} 大型便
          %li
            %a{href: "/"} 車体取引ガイド
          %li
            %a{href: "/"} あんしん・あんぜん宣言！
          %li
            %a{href: "/"} 偽ブランド品撲滅への取り組み
          %li
            %a{href: "/"} ボックス
      .footer-top__menu__third
        %h2.footer-head プライバシーと利用規約
        .footer-top__menu__third__lists
          %ul.left
            %li
              %a{href: "/"} プライバシーポリシー
            %li
              %a{href: "/"} 利用規約
            %li
              %a{href: "/"} あんしんスマホサポート制度に関する利用特約
            %li
              %a{href: "/"} コンプライアンスポリシー
          %ul.right
            %li
              %a{href: "/"} 個人データの安全管理に係る基本方針
            %li
              %a{href: "/"} 特定商取引に関する表記
            %li
              %a{href: "/"} 資金決済法に基づく基づく表示
            %li
              %a{href: "/"} 法令順守と犯罪防止のために
      .footer-top__menu__fourth
        %ul
          %h2.footer-head 国
          %li
            %a{href: "/"} 日本
          %li
            %a{href: "/"} United States
      %ul
  .footer-row
    %a{href: "/"}
      %img{height: "31", src: "https://web-jp-assets.mercdn.net/_next/static/images/logo-white-1a0696cf557ee1ed6f3c3444661d21ad.svg", widht: "124"}/
    %span.team-copyright
      .team-copyright__text © Team_66a, Inc.