%nav.l-left
  %ul.searchs
    %li.searchs__category-search
      %a{href: "/"}
        %i.fas.fa-list-ul
        %span カテゴリーから探す
        %ul.category-search__perents
          %li.category-search__perents__perent
            %a{href: "/"} レディース
            %ul.children
              %li.children__child
                %a{href: "/"} これは子要素１です
                %ul.grand-children
                  %li.grand-children__grand-child
                    %a{href: "/"} これは孫要素１-1です
                  %li.grand-children__grand-child
                    %a{href: "/"} これは孫要素１-1です
                  %li.grand-children__grand-child
                    %a{href: "/"} これは孫要素１-1です
              
              
              %li.children__child
                %a{href: "/"} これは子要素１です
                %ul.grand-children
                  %li.grand-children__grand-child
                    %a{href: "/"} これは孫要素１-1です

              %li.children__child
                %a{href: "/"} これは子要素１です
                %ul.grand-children
                  %li.grand-children__grand-child
                    %a{href: "/"} これは孫要素１-1です

              %li.children__child
                %a{href: "/"} これは子要素１です
                %ul.grand-children
                  %li.grand-children__grand-child
                    %a{href: "/"} これは孫要素１-1です
                
          %li.category-search__perents__perent
            %a{href: "/"} メンズ
            %ul.children
              %li.children__child
                %a{href: "/"} これは子要素１です
                %ul.grand-children
                  %li.grand-children__grand-child
                    %a{href: "/"} これは孫要素１-1です
          %li.category-search__perents__perent
            %a{href: "/"} ベビー・キッズ
            %ul.children
              %li.children__child
                %a{href: "/"} これは子要素１です
                %ul.grand-children
                  %li.grand-children__grand-child
                    %a{href: "/"} これは孫要素１-1です
          %li.category-search__perents__perent
            %a{href: "/"} インテリア・住まい・小物
            %ul.children
              %li.children__child
                %a{href: "/"} これは子要素１です
                %ul.grand-children
                  %li.grand-children__grand-child
                    %a{href: "/"} これは孫要素１-1です
          %li.category-search__perents__perent
            %a{href: "/"} 本・音楽・ゲーム
            %ul.children
              %li.children__child
                %a{href: "/"} これは子要素１です
                %ul.grand-children
                  %li.grand-children__grand-child
                    %a{href: "/"} これは孫要素１-1です
          %li.category-search__perents__perent
            %a{href: "/"} おもちゃ・ホビー・グッズ
            %ul.children
              %li.children__child
                %a{href: "/"} これは子要素１です
                %ul.grand-children
                  %li.grand-children__grand-child
                    %a{href: "/"} これは孫要素１-1です
          %li.category-search__perents__perent
            %a{href: "/"} コスメ・香水・美容
            %ul.children
              %li.children__child
                %a{href: "/"} これは子要素１です
                %ul.grand-children
                  %li.grand-children__grand-child
                    %a{href: "/"} これは孫要素１-1です
          %li.category-search__perents__perent
            %a{href: "/"} レディース
            %ul.children
              %li.children__child
                %a{href: "/"} これは子要素１です
                %ul.grand-children
                  %li.grand-children__grand-child
                    %a{href: "/"} これは孫要素１-1です
          %li.category-search__perents__perent
            %a{href: "/"} 家電・スマホ・カメラ
            %ul.children
              %li.children__child
                %a{href: "/"} これは子要素１です
                %ul.grand-children
                  %li.grand-children__grand-child
                    %a{href: "/"} これは孫要素１-1です
          %li.category-search__perents__perent
            %a{href: "/"} スポーツ・レジャー
            %ul.children
              %li.children__child
                %a{href: "/"} これは子要素１です
                %ul.grand-children
                  %li.grand-children__grand-child
                    %a{href: "/"} これは孫要素１-1です
          %li.category-search__perents__perent
            %a{href: "/"} ハンドメイド
            %ul.children
              %li.children__child
                %a{href: "/"} これは子要素１です
                %ul.grand-children
                  %li.grand-children__grand-child
                    %a{href: "/"} これは孫要素１-1です
          %li.category-search__perents__perent
            %a{href: "/"} チケット
            %ul.children
              %li.children__child
                %a{href: "/"} これは子要素１です
                %ul.grand-children
                  %li.grand-children__grand-child
                    %a{href: "/"} これは孫要素１-1です
          %li.category-search__perents__perent
            %a{href: "/"} 自転車・オートバイ
            %ul.children
              %li.children__child
                %a{href: "/"} これは子要素１です
                %ul.grand-children
                  %li.grand-children__grand-child
                    %a{href: "/"} これは孫要素１-1です
          %li.category-search__perents__perent
            %a{href: "/"} その他
            %ul.children
              %li.children__child
                %a{href: "/"} これは子要素１です
                %ul.grand-children
                  %li.grand-children__grand-child
                    %a{href: "/"} これは孫要素１-1です
          %li.category-search__perents__perent
            %a{href: "/"} カテゴリー一覧

          
    %li.searchs__brand-search
      %a{href: "/"} 
        %i.fas.fa-tag
        %span ブランドから探す
        %ul.brand-search__perents
          %li.brand-search__perents__perent
            %a{href: "/"} シャネル
          %li.brand-search__perents__perent
            %a{href: "/"} ナイキ
          %li.brand-search__perents__perent
            %a{href: "/"} ルイ ヴィトン
          %li.brand-search__perents__perent
            %a{href: "/"} シュプリーム
          %li.brand-search__perents__perent
            %a{href: "/"} アディダス
          %li.brand-search__perents__perent
            %a{href: "/"} ブランド一覧
